.btn:where(.astro-A3NWEPIZ) {
	display: inline-flex;
	align-items: center;
	border-width: 1px;
	border-color: transparent;
	font-weight: 500;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.btn:where(.astro-A3NWEPIZ):focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
		var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
		calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
		var(--tw-shadow, 0 0 #0000);
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(168 85 247 / var(--tw-ring-opacity));
	--tw-ring-offset-width: 2px;
}
.btn:where(.astro-A3NWEPIZ):not(.btn--hollow) {
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn--primary:where(.astro-A3NWEPIZ) {
	--tw-bg-opacity: 1;
	background-color: rgb(147 51 234 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(248 250 252 / var(--tw-text-opacity));
}
.btn--primary:where(.astro-A3NWEPIZ):hover {
	--tw-bg-opacity: 1;
	background-color: rgb(126 34 206 / var(--tw-bg-opacity));
}
.btn--secondary:where(.astro-A3NWEPIZ) {
	--tw-bg-opacity: 1;
	background-color: rgb(243 232 255 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(126 34 206 / var(--tw-text-opacity));
}
.btn--secondary:where(.astro-A3NWEPIZ):hover {
	--tw-bg-opacity: 1;
	background-color: rgb(233 213 255 / var(--tw-bg-opacity));
}
.btn--hollow:where(.astro-A3NWEPIZ) {
	background-color: transparent;
	--tw-text-opacity: 1;
	color: rgb(88 28 135 / var(--tw-text-opacity));
}
.btn--hollow:where(.astro-A3NWEPIZ):hover {
	--tw-bg-opacity: 1;
	background-color: rgb(250 245 255 / var(--tw-bg-opacity));
	text-decoration-line: underline;
}
.btn--xs:where(.astro-A3NWEPIZ) {
	border-radius: 0.25rem;
	padding: 0.375rem 0.625rem;
	font-size: 0.75rem;
	line-height: 1rem;
}
.btn--sm:where(.astro-A3NWEPIZ) {
	border-radius: 0.375rem;
	padding: 0.5rem 0.75rem;
	font-size: 0.875rem;
	line-height: 1rem;
}
.btn--md:where(.astro-A3NWEPIZ) {
	border-radius: 0.375rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.btn--lg:where(.astro-A3NWEPIZ) {
	border-radius: 0.375rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5rem;
}
.btn--xl:where(.astro-A3NWEPIZ) {
	border-radius: 0.375rem;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
}
